os:
  - linux
services:
  - docker
  - postgresql

language: node_js

node_js:
  - "6.11.0"
  - "7"

jdk:
  - oraclejdk8

sudo: false

cache:
  directories:
    - node
    - node_modules
    - $HOME/.m2
    - $HOME/.yarn-cache

env:
  global:
    - NODE_VERSION=6.11.0
    - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
    - SPRING_JPA_SHOW_SQL=false

before_install:
  - jdk_switcher use oraclejdk8
  - java -version
  - sudo /etc/init.d/mysql stop
  # Repo for Yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install

before_script:
  - psql -c 'CREATE DATABASE test_db;' -U postgres
  - psql -c "CREATE USER calendar WITH PASSWORD 'password';" -U postgres


script:
  - chmod +x mvnw
  - ./mvnw clean test
  - yarn test
#  - ./mvnw com.heroku.sdk:heroku-maven-plugin:1.1.1:deploy -DskipTests -Pprod -Dheroku.appName=
  - ./mvnw clean package -DskipTests -Pprod

notifications:
  webhooks:
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
